{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Django project</title>
        <link href="http://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>
    <body>
        <div id="outer">
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="/lead">Django project</a>
                    </h1>
                </div>
                <div id="nav">
                    <ul>
                        <li class="first active">
                            <a href="/lead">О проекте </a>
                        </li>
                        <li>
                            <a href="/uinfo">О пользователе</a>
                        </li>
                        <li>
                            <a href="/admin">Админ</a>
                        </li>
                    </ul>
                    <br class="clear" />
                </div>
            </div>
            <div id="main">
                <div id="content">
                    <div id="box1">
                        <h2>
                            Welcome to Django
                        </h2><img class="left" src="http://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAl0AAAAJDBhYTEyMTI0LWQ2ODMtNGVmZi04NGEwLWRhYjdiYzcwNjRhNw.png" width="300" height="160" alt="">
						<p><strong>Django</strong>— свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC[6]. Проект поддерживается организацией Django Software Foundation.<br>
Сайт на Django строится из одного или нескольких приложений, которые рекомендуется делать отчуждаемыми и подключаемыми. Это одно из существенных архитектурных отличий этого фреймворка от некоторых других (например, Ruby on Rails).<br>
Также, в отличие от других фреймворков, обработчики URL в Django конфигурируются явно при помощи регулярных выражений, а не выводятся автоматически из структуры моделей контроллеров.
<br>
Для работы с базой данных Django использует собственный ORM, в котором модель данных описывается классами Python, и по ней генерируется схема базы данных.</p>
                    </div>
                    <div id="box2">
                        <h3>
                           Используемые тезнологии
                        </h3>
                        <ul class="imageList">
                            <li class="first">
                                <img class="left" src="https://techspawn.com/wp-content/uploads/2016/10/Python_logo.png" width="180" height="80" alt="" /> <span><strong>Python</strong> - высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой объём полезных функций.</span>
                            </li>
                            <li>
                                <img class="left" src="http://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAl0AAAAJDBhYTEyMTI0LWQ2ODMtNGVmZi04NGEwLWRhYjdiYzcwNjRhNw.png" width="180" height="80" alt="" /> <span><strong>Django</strong>— свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC. Проект поддерживается организацией Django Software Foundation.</span>
                            </li>
                            <li class="last">
                                <img class="left" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/SQLite370.svg/1200px-SQLite370.svg.png" width="180" height="80" alt="" /> <span><strong>SQLite</strong> — компактная встраиваемая реляционная база данных. Исходный код библиотеки передан в общественное достояние. В 2005 году проект получил награду Google-O’Reilly Open Source Awards.</span>
                            </li>
                        </ul>
                    </div>
                    <div id="box3">
                        <h3>
                            О проекте
                        </h3>
                        
                        <p>
                            В проекте реализована форма обратной связи с записью данных в базу данных SQLLite, так же реализована функция отображения данных о посетителе сайта.<br>

                        </p>
                    </div>
                    <br class="clear" />
                </div>
                <br class="clear" />
            </div>
            <div id="footer">
                <div id="footerContent">
                    <h3>
                        Оставьте свой номер <br> и мы вам перезвоним в ближайшее время
                    </h3>
                    <div style="margin-left: 150px;">
                        <form class="form-inline" action="" method="post"> {% csrf_token %}
                            <div class="form-group">
                                <label>Имя: </label>
                                <input type="text" name="{{ form.name.name }}" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Петр">
                            </div>

                            <div class="form-group">
                                <label>Номер:  </label>
                                <input type="text" name="{{ form.phone.name }}" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="+7 (999) 881-22-11">
                            </div>

                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
                <br class="clear" />
            </div>
        </div>
        <div id="copyright">
				&copy; Python <a href="http:///">???</a>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    </body>
</html>
